
.r_modal{
    max-width:100%;
}
.hidden-sm{
    display:none;
}


@media only screen and (min-width: 600px)
{
    
    .r_modal{
        max-width:100%;
    }
    .hidden-sm{
        display:none;
    }
}
@media only screen and (min-width: 768px)
{
   
    .r_modal{
      max-width:90%;
    }
    .hidden-sm{
        display:block;
    }
}
@media only screen and (min-width: 1000px)
{
    .r_modal{
      max-width:47%;
    }
    .hidden-sm{
        display:block;
    }
}